<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Update Upcoming Expense</h4>
                  </div>
                  <div class="card-body">
                      <form (ngSubmit)="onFormSubmit(this.value)">
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="relatedExpense.title" required placeholder="Title" name="title">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput  [(ngModel)]="relatedExpense.expenseDate" placeholder="Expense Date" type="date" name="expenseDate">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput  [(ngModel)]="relatedExpense.amount" placeholder="Amount" type="number" name="amount">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-9">
                                    <mat-form-field class="example-full-width">
                                  <textarea matInput [(ngModel)]="relatedExpense.description" placeholder="Description" name="description"></textarea>
                                </mat-form-field>
                            </div>
                          </div>
                          <button mat-raised-button type="submit"  class="btn btn-danger pull-right">Update</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  