<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Properties</h4>
            <p class="card-category">Contains all the active properties</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Name</th>
                  <th>Address</th>
                  <th>Preferred Rent</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let prop of properties">
                    <td>
                      <a href="/#/property/{{ prop.id }}">{{ prop.name }}</a>
                    </td>
                    <td>
                      {{ prop.address }}
                    </td>
                    <td>
                      {{ prop.preferredRent }}
                    </td>
                    <td>
                      {{ prop.city }}
                    </td>
                    <td>
                      {{ prop.state }}
                    </td>
                    <td>
                      <a
                        ><i class="fa fa-trash fa-lg" (click)="deleteProperty(prop.id)"></i
                      ></a>
                      <a href="/#/property/{{ prop.id }}/edit"
                        ><i class="fa fa-pencil fa-lg"  ></i
                      ></a>
                      <a
                        ><i
                          class="fa fa-line-chart fa-lg"
                          aria-hidden="true"
                        ></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
