<div class="main" style="padding-top:20px">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Update Your Password!</h2>
                    <div class="register-form">
                        <form [formGroup]="forgotPassword">
                            <div class="col-md-12 row">
                                <div class="form-group col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <label for="email"><i class="material-icons">Email</i></label> -->
                                        <input matInput type="text" formControlName="email" required [(ngModel)]="userEmail.email"
                                            placeholder="Your Email" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <div class="form-group col-md-6" *ngIf="showCode === 0">
                                    <mat-form-field class="example-full-width">
                                        <!-- <label for="pass"><i class="material-icons">lock</i></label> -->
                                        <input matInput type="text"  formControlName="token" required
                                            placeholder="Code" />
                                    </mat-form-field>
                                </div>
  
                            </div>
                            <div class="col-md-12 row">
                                <div class="form-group col-md-6" *ngIf="showCode === 0">
                                    <mat-form-field class="example-full-width">
                                        <!-- <label for="pass"><i class="material-icons">lock</i></label> -->
                                        <input matInput type="Password" formControlName="password" required
                                            placeholder="Password" />
                                    </mat-form-field>
                                </div>
  
                            </div>
                            <!-- <div class="col-md-12 row">
                              <div class="form-group col-md-12">
                                      <button type="button"  (click)="fileInput.click()">Choose File</button>
                                      <input  hidden (change)="onFileSelected()" formControlName="fileBase64String" #fileInput type="file" id="file" name = "file">
  
                              </div>
                          </div> -->
                            <div class="col-md-12 row">
                            </div>
                           
                        </form>
                        <div class="row col-md-12">  
                            <div class="col-md-6" *ngIf="showCode===1">
                                <button mat-raised-button (click)="GenerateCode()"
                                    class="btn btn-danger pull-right">Generate Code</button>

                            </div>
                            
                        </div>
                        <div class="row col-md-12">  
                            <div class="col-md-6" *ngIf="showCode===0">
                                <button mat-raised-button (click)="resetPassword()"
                                    class="btn btn-danger pull-right"> Update Password</button>

                            </div>
                            
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
  </div>
  