<div class="">
  <div class="container-fluid">
      <div class="row">
        <div class="offset-md-2 col-md-8">
            <div class="card">
              <div class="card-header card-header-danger" *ngIf="(updateProperty ===0)">
                    <h4 class="card-title">Add Property</h4>
                    <!-- <p class="card-category">Complete your profile</p> -->
                </div> 
                <div class="card-body">
                    <form (ngSubmit)="onFormSubmit(this.value)">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="propertyData.name" required placeholder="Name" name="name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4" *ngIf="(updateProperty ===0)">
                              <mat-form-field class="example-full-width" >
                                <input matInput [(ngModel)]="propertyData.preferredRent" required placeholder="Preferred Rent" name="preferredRent">
                              </mat-form-field>
                          </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput  [(ngModel)]="propertyData.city" placeholder="City" type="text" name="City">
                              </mat-form-field>
                            </div>
                            <div class="col-md-9">
                              <mat-form-field class="example-full-width">
                                <textarea matInput [(ngModel)]="propertyData.address" placeholder="Address" name="Address"></textarea>
                              </mat-form-field>
                          </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="propertyData.state" placeholder="State" type="text" name="State">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput [(ngModel)]="propertyData.zipCode" placeholder="Zip Code" type="text" name="zc">
                            </mat-form-field>
                          </div>
                        </div>
                        <button mat-raised-button  (click)="CancelProperty()" class="btn btn-danger pull-right">Cancel</button>
                        <button mat-raised-button  *ngIf="(propertyData.id ===0)" (click)="AddProperty()" class="btn btn-danger pull-right">Add</button>
                        <button mat-raised-button type="submit"  *ngIf="(propertyData.id > 0)" class="btn btn-danger pull-right">Update</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>

