<div class="alert alert-warning offset-md-2 col-md-8 mt-2 blink" *ngIf="notify">
  <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="material-icons">close</i>
  </button>
  <span><a routerLink="/notifications">You have new notifications</a></span>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category" style="font-size: 12px;">Total Income of Last 30 days</p>
            <h3 class="card-title">
              ${{totalIncomeLast30Days}}              
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category" style="font-size: 12px;">Total Expense of Last 30 days</p>
            <h3 class="card-title">${{totalExpenseLast30Days}}</h3>
          </div>
          <div class="card-footer">           
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category" style="font-size: 12px;">Upcoming Expense for next 30 days</p>
            <h3 class="card-title">${{upcomingExpenseNext30Days}}</h3>
          </div>
          <div class="card-footer">            
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category" style="font-size: 12px;">Profilt percentage of Last 30 days</p>
            <h3 class="card-title">${{profitPercentageLAst30Days}}</h3>
          </div>
          <div class="card-footer">            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Monthly Profit/Loss</h4>
          </div>
          <div class="card-footer">
            <div class="stats"><i class="material-icons">access_time</i> updated 4 minutes ago</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Property wise Income vs Expense</h4>
          </div>
          <div class="card-footer">
            <div class="stats"><i class="material-icons">access_time</i> campaign sent 2 days ago</div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div> -->
    </div>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
