<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Transactions</h4>
            
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input aria-required="true" required matInput [(ngModel)]="startdate" placeholder="Start Date"
                    type="date" name="startdate" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input aria-required="true" required matInput [(ngModel)]="enddate" placeholder="End Date"
                    type="date" name="enddate" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <button mat-raised-button type="button" (click)="search()"
              class="btn btn-success pull-right">Search</button>
              </div>
            </div>
            <div class="row">
              <div class="pull-right">
                <a href="/#/transactions/add" class="btn btn-success pull-right">Log Transaction</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-success pull-right" (click)="addPaymentType()">Add Payment Type</a>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Property</th>
                  <th>Personal</th>
                  <th>Re-imbursible</th>
                  <th>Transaction Date</th>
                  <th>Amount</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let prop of transactions">
                    <td>
                      <a href="/#/property/{{ prop?.property?.id || 0 }}">{{ prop?.property?.name || "" }}</a>
                    </td>
                    <td>
                      {{ prop.personal }}
                    </td>
                    <td>
                      {{ prop.reimbursible }}
                    </td>
                    <td>
                      {{ prop.paymentDateTime }}
                    </td>
                    <td>
                      {{ prop.amount }}
                    </td>
                    <td>
                      <a><i class="fa fa-trash fa-lg" (click)="deleteTransaction(prop.id)"></i></a>
                    
                      <a><i class="fa fa-pencil fa-lg" (click)="editTransaction(prop)"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <div>
                <input type="button" [disabled]="pageNumber == maxPage" (click)="next()" class="btn btn-success pull-right" value="Next" />
                <input type="button" [disabled]="pageNumber == 1" (click)="previous()" class="btn btn-success pull-right" value="Previous" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>

