<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Update Upcoming Expense</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Property</mat-label>
                  <input type="text" matInput [(ngModel)]="PropertyId" [formControl]="propertyControl" [matAutocomplete]="auto" required/>
                  <mat-autocomplete #auto="matAutocomplete" >
                    <mat-option *ngFor="let option of propertyFilteredOptions | async" [value]="option.name" (onSelectionChange)="setPropertyId(option)">
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill">
                  <mat-label>Payment Type</mat-label>
                  <mat-select [(ngModel)]="PaymentTypeId" name="paymenttype" required >
                    <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id" >
                      {{ paymentType.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill">
                  <mat-label>Transaction Mode</mat-label>
                  <mat-select [(ngModel)]="TransactionMode" name="transactionMode" required>
                    <mat-option *ngFor="let transactionMode of transactionModeTypes" [value]="transactionMode.transactionMode">
                      {{ transactionMode.transactionMode }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"  [(ngModel)]="Reimbursible"  (click)="checkExpenseType(0)"/>
                    Reimbursible?
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="Personal"  ng-checked="Personal===true"  (click)="checkExpenseType(1)"/>
                    Personal?
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="AllPropertyExpense" ng-checked="AllPropertyExpense===true"  (click)="checkExpenseType(2)" />
                    All Property Expense?
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input aria-required="true" required matInput [(ngModel)]="Amount" placeholder="Amount" type="number" name="amount" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input aria-required="true" required matInput [(ngModel)]="PaymentDatetime" placeholder="Expense Date" type="date" name="expenseDate" />
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button type="submit" (click)="onFormSubmit()" class="btn btn-danger pull-right">Save</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
