<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Notifications</h3>
                <p class="card-category">Notification</p>
            </div>
            <div class="card-body">
                <div class="notify">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let notification of notifications" class="mb-4">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                   <b> {{notification.title}} </b>        
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>
                               <p>   From : {{notification.tenantEmail}}</p>
                            </div>
                            <div>
                                <p>   Phone : {{notification.tenantPhone}}</p>
                             </div>
                            <p> Description : {{notification.description}}</p>
                            <div class="form-group form-button">
                                <button mat-raised-button (click)="closeRequest(notification)" class="btn btn-danger pull-right">Close</button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
