<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="offset-md-2 col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username"  [(ngModel)]="userDetails.UserName" name = "UserName">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email" [(ngModel)]="userDetails.Email" name = "Email">
                                  </mat-form-field>
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="FirstName"  [(ngModel)]="userDetails.FirstName" name = "FirstName">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="LastName"  [(ngModel)]="userDetails.LastName" name = "LastName">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Security Question"  [(ngModel)]="userDetails.SecurityQuestion" name = "SecurityQuestion">
                              </mat-form-field>
                            </div>
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Answer" type="text" [(ngModel)]="userDetails.Answer" name = "Answer">
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit"  (click)="UpdateProfile();"class="btn btn-danger pull-right">Update Profile</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
